<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.book.gourav.bookapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="userPortrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.Main3Activity"
            android:screenOrientation="userPortrait"
            android:theme="@style/Theme.Design.Light.NoActionBar"/>
        <activity
            android:name=".activity.Main4Activity"
            android:screenOrientation="userPortrait"
            />
        <activity
            android:name=".activity.ImageFull_screen"
            android:parentActivityName=".activity.Main2Activity"
            android:theme="@style/Theme.Design.Light.NoActionBar"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".activity.Main2Activity"
            android:screenOrientation="userPortrait"

            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="userPortrait"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity android:name=".activity.Aboutus_Activity"
            android:screenOrientation="userPortrait"
            android:theme="@style/Theme.Design.Light.NoActionBar"
            android:parentActivityName=".activity.Main2Activity"/>
        <activity android:name=".activity.Privacy_Policy"
            android:theme="@style/Theme.Design.Light.NoActionBar"
            android:screenOrientation="userPortrait" android:parentActivityName=".activity.Main2Activity"></activity>
    </application>

</manifest>